@use "../../style/partials/colors" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/global" as *;

.whatIsDawat-container {
  margin-top: 4.375rem;
  display: flex;
  justify-content: center;
  padding: 0 5%;
  background: rgb(252, 251, 250);
  background: linear-gradient(
    180deg,
    rgba(252, 251, 250, 1) 65%,
    rgba(151, 198, 128, 1) 100%
  );
}
.body-video {
  margin-top: 6.25rem;
  width: 21rem;
  border-radius: 10%;
}
.arrow-svg {
  display: none;
  @include desktop {
    display: block;
    position: absolute;
    top: 45%;
    right: 1%;
    z-index: 1;
  }
}
.left__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  //   width: 30%;
  &-image {
    max-width: 18.75rem;
    @include tablet {
      max-width: 21rem;
    }
    @include desktop {
      max-width: 28.125rem;
    }
  }
  &__title {
  }
  &__text {
  }
  &__logo-title-container {
  }
}
.right__container {
  display: none;
  @include desktop {
    display: block;
  }
  //   width: 70%;
  &-svg {
    height: 16.25rem;
  }
}

.guy-svg {
  position: relative;
  margin-left: -1.25rem;
  max-width: 20rem;
  @include tablet {
    margin-bottom: 1.25rem;
    margin-left: 0;
    //   z-index: 1;
    margin-right: -5rem;
  }
}

.lady-svg {
  position: relative;
  max-width: 20rem;
  @include tablet {
    margin-left: -6.25rem;
  }
}
