@use "../../style/partials/colors" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/global" as *;

.listing {
  &-container {
    padding: 20px 8%;
    padding-top: 0;
    gap: 20px;
    background: rgb(252, 251, 250);
    background: linear-gradient(
      180deg,
      rgba(252, 251, 250, 1) 88%,
      rgba(151, 198, 128, 1) 100%
    );
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__left {
    @include tablet {
      max-width: 50%;
      position: sticky;
      top: 0;
      align-self: flex-start;
    }
  }
  &__right {
    @include tablet {
      max-width: 50%;
      margin-top: 20px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__title {
  }
  &__text {
    font-weight: 500;
  }
  &__main-info {
  }
  &__host-info {
  }
  &__name-image {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__tags {
    color: $button-hover-color;
    font-family: "Typo Round";
  }
  &__tags-small {
    color: $search-hover-color;
    font-family: "Typo Round";
    margin-bottom: 0px;
    @include tablet {
      max-width: 90px;
    }
  }
  &__hostFName {
    margin-top: 80px;
    font-weight: 800;
  }
  &__info {
  }
  &__description-misc {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 80%;
    }
  }
  &__misc-container {
  }
  &__misc-text {
  }
}

.back-button-desktop {
  align-self: flex-end;
  display: none;
  @include tablet {
    display: flex;
  }
}

.back-button-container {
  display: flex;
  justify-content: flex-end;
  @include tablet {
    display: none;
  }
}

.listing__booking-container {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 5px;
  padding: 20px 8%;
  margin-top: 20px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // max-width: 302px;
  @include tablet {
    max-width: 400px;
    margin-bottom: 150px;
  }
}

.bookingForm {
  display: flex;
  gap: 20px;
  &__field {
    max-width: 230px;
    min-width: 180px;
  }
}

.bookingForm-right {
  display: flex;
  justify-content: space-between;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.bookingForm-left {
  display: flex;
  flex-direction: column;
}

.bookingForm__total {
  font-size: 16px;
}

.bookingForm__title {
}

.button-container {
  display: flex;
  justify-content: center;
}

.map {
  margin-bottom: 20px;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}
.mapboxgl-ctrl {
  display: none;
}
