@use "../../style/partials/colors" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/global" as *;

.login__component {
  height: 100vh;
  background: rgb(252, 251, 250);
  background: linear-gradient(
    180deg,
    rgba(252, 251, 250, 1) 65%,
    rgba(151, 198, 128, 1) 100%
  );
}

.login {
  display: flex;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 25px #888888;
  padding: 70px 40px;
  border-radius: 25px;
  max-width: 100%;
  @include tablet {
    max-width: 80%;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
