@use "../../style/partials/colors" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/mixins" as *;
@use "../../style/partials/global" as *;

.navbar-header {
  background-color: $primary-background-color;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  &__link {
    text-decoration: none;
    color: $button-hover-color;
  }
}

.logo-header {
  width: 120px;
}
