// primary colors
$primary-text-color: #1e1e2f; //Primary text color
$primary-background-color: #fcfbfa;

// secondary colors
$button-hover-color: #97c680; //darkseagreen
$search-hover-color: #feba88; // Alabaster
$warming: #d22d2d;
