// primary colors
$primary-text-color: #1e1e2f; //Primary text color
$primary-active-btn-color: #0095ff; // BrainFlix-Blue
$primary-cta-text-color: #ffffff; //White
$primary-background-color: #fcfbfa;

// secondary colors
$button-hover-color: #97c680; //darkseagreen
$search-hover-color: #feba88;
$divider-line: #e1e1e1; //Mercury
$form-field-bg: #fafafa; // Alabaster
$warming: #d22d2d;
